<section class='promo'>
  <picture>
    <source srcset='/img/service-single/promo_bg.webp' type='image/webp' />
    <img
      src='/img/service-single/promo_bg.jpg'
      alt='promo background'
      class='promo__bg'
    />
  </picture>
  <h1 class='title title_big promo__title'>
    Quality Standard
  </h1>
</section>
<section class='services'>
  <div class='container'>
    <picture>
      <source
        srcset='/img/service-single/services_main.webp'
        type='image/webp'
      />
      <img
        src='/img/service-single/services_main.jpg'
        alt='a gardener'
        class='services__main-img'
      />
    </picture>
    <div class='services__content'>
      <h2 class='title services__title-main'>
        Organic Store Services
      </h2>
      <div class='services__text'>
        At Organic, we are dedicated to providing our customers with the highest quality organic products available. We offer a wide variety of store services to make your shopping experience as convenient and enjoyable as possible. From online ordering to home delivery, we make it easy for you to get the products you need. Our friendly and knowledgeable staff are always on hand to answer your questions and help you find exactly what you're looking for.
      </div>
      <div class='services__reasons'>
        <div class='services__reasons-item'>
          <picture>
            <source
              srcset='/img/service-single/reasons_img1.webp'
              type='image/webp'
            />
            <img
              src='/img/service-single/reasons_img1.jpg'
              alt="gardener's work"
              class='services__reasons-item-img'
            />
          </picture>
          <div class='services__reasons-item-content'>
            <div class='services__reasons-item-title'>
              Why Organic
            </div>
            <div class='services__reasons-item-descr'>
              Organic farming practices are more sustainable than conventional methods, they help to protect the environment and promote healthy ecosystems.
            </div>
          </div>
        </div>
        <div class='services__reasons-item services__reasons-item_img-end'>
          <picture>
            <source
              srcset='/img/service-single/reasons_img2.webp'
              type='image/webp'
            />
            <img
              src='/img/service-single/reasons_img2.jpg'
              alt='plants'
              class='services__reasons-item-img'
            />
          </picture>
          <div class='services__reasons-item-content'>
            <div class='services__reasons-item-title'>
              Speciality Produce
            </div>
            <div class='services__reasons-item-descr'>
              Our produce is carefully selected for its quality and freshness, and we work with local farmers to ensure that you get the best products possible.
            </div>
          </div>
        </div>
      </div>
      <h3 class='title services__title-minor'>
        We farm your land
      </h3>
      <div class='services__text'>
        At Organic, we are passionate about sustainable farming practices and helping our customers grow their own food. That's why we offer a unique service where we will come to your land and help you farm it using organic methods. Whether you have a small backyard garden or a large farm, we can help you get the most out of your land and grow healthy, organic produce. Our team of experts will work with you to design a custom plan that meets your needs and fits your budget. With our help, you can enjoy the satisfaction of growing your own food while knowing that you're doing it in a sustainable and ethical way.
      </div>
      <div class='services__benefits'>
        <div class='services__benefit'>
          <div class='services__benefit-number'>
            01
          </div>
          <div class='services__benefit-descr'>
            Best quality support
          </div>
        </div>
        <div class='services__benefit'>
          <div class='services__benefit-number'>
            02
          </div>
          <div class='services__benefit-descr'>
            Money back guarantee
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> subscribe}}