<section class='promo'>
  <picture>
    <source srcset='/img/service/promo_bg.webp' type='image/webp' />
    <img
      src='/img/service/promo_bg.jpg'
      alt='promo background'
      class='promo__bg'
    />
  </picture>
  <h1 class='title title_big promo__title'>
    Services
  </h1>
</section>
<section class='what-we-grow'>
  <div class='container'>
    <div class='subtitle subtitle_centered what-we-grow__subtitle'>
      What we Grow
    </div>
    <h2 class='title title_centered what-we-grow__title'>
      Better Agriculture for Better Future
    </h2>
    <div class='what-we-grow__wrapper'>
      <div class='what-we-grow__items what-we-grow__items_aligned-right'>
        <div class='what-we-grow__item'>
          <img
            src='/icons/service/what-we-grow/icon1.svg'
            alt='icon'
            class='what-we-grow__item-icon'
          />
          <div class='title title_25px what-we-grow__item-title'>
            Dairy Products
          </div>
          <div class='what-we-grow__item-descr'>
            Our organic dairy products come from local farmers who use
            sustainable and ethical farming practices.
          </div>
        </div>
        <div class='what-we-grow__item'>
          <img
            src='/icons/service/what-we-grow/icon2.svg'
            alt='icon'
            class='what-we-grow__item-icon'
          />
          <div class='title title_25px what-we-grow__item-title'>
            Store Services
          </div>
          <div class='what-we-grow__item-descr'>
            We offer a variety of store services to make your shopping
            experience as convenient and enjoyable as possible.
          </div>
        </div>
        <div class='what-we-grow__item'>
          <img
            src='/icons/service/what-we-grow/icon3.svg'
            alt='icon'
            class='what-we-grow__item-icon'
          />
          <div class='title title_25px what-we-grow__item-title'>
            Delivery Services
          </div>
          <div class='what-we-grow__item-descr'>
            Our delivery services ensure that you receive your organic products
            quickly and conveniently.
          </div>
        </div>
      </div>
      <picture>
        <source srcset='/img/service/what-we-grow_img.webp' type='image/webp' />
        <img
          src='/img/service/what-we-grow_img.jpg'
          alt='pistachios'
          class='what-we-grow__img'
        />
      </picture>
      <div class='what-we-grow__items'>
        <div class='what-we-grow__item'>
          <img
            src='/icons/service/what-we-grow/icon4.svg'
            alt='icon'
            class='what-we-grow__item-icon'
          />
          <div class='title title_25px what-we-grow__item-title'>
            Agricultural Services
          </div>
          <div class='what-we-grow__item-descr'>
            Our agricultural services focus on sustainable farming practices
            that promote a healthy ecosystem and a better future.
          </div>
        </div>
        <div class='what-we-grow__item'>
          <img
            src='/icons/service/what-we-grow/icon5.svg'
            alt='icon'
            class='what-we-grow__item-icon'
          />
          <div class='title title_25px what-we-grow__item-title'>
            Organic Products
          </div>
          <div class='what-we-grow__item-descr'>
            We only sell 100% organic products that are free from harmful
            pesticides, chemicals and any other additions.
          </div>
        </div>
        <div class='what-we-grow__item'>
          <img
            src='/icons/service/what-we-grow/icon6.svg'
            alt='icon'
            class='what-we-grow__item-icon'
          />
          <div class='title title_25px what-we-grow__item-title'>
            Fresh Vegetables
          </div>
          <div class='what-we-grow__item-descr'>
            Our fresh vegetables are locally grown and harvested at the peak of
            their freshness, ensuring maximum flavor and nutrition.
          </div>
        </div>
      </div>
    </div>
    <a href='/service/detailed' class='btn btn_white what-we-grow__btn'>
      <span>
        Explore More
      </span>
      <div class='btn__round'>
        <img src='/icons/arrow_right.svg' alt='arrow right' class='btn__icon' />
      </div>
    </a>
  </div>
</section>
<div class='organic-only'>
  <div class='container'>
    <div class='subtitle subtitle_centered organic-only__subtitle'>
      Organic Only
    </div>
    <h2 class='title title_centered organic-only__title'>
      Everyday Fresh & Clean
    </h2>
    <div class='organic-only__descr'>
      We pride ourselves on our dedication to sustainable and ethical farming
      practices, ensuring that you get only the best quality products.
    </div>
    <button class='organic-only__btn'>
      <img
        src='/icons/service/play.svg'
        alt='play'
        class='organic-only__btn-icon'
      />
    </button>
  </div>
</div>